<div id="main-container">
  <div class="banner">
    <div class="mid-banner">
      <h2 class="lato text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>

      <a href="#main" class="our-services">
        <span>CONHEÇA NOSSOS SERVIÇOS</span>
        <%= image_tag "seta-down.png" %>
      </a>
    </div>
  </div>
  <div id="main">
    <div class="container">
      <div class="small-description">
        <h3 class="lato no-margin">At NuLeaf Technology we seek to create high quality applications that work across all devices.</h3>
      </div>
      <div class="big-description">
        <p>
          We have a keen eye for <b>User experience</b> and seek to use design to encourage <b>user interaction</b>.
          <br>
          By using technologies such as <b>React Native</b> and <b>progressive web applications</b> we are able to more rapidly produce content for all devices.
        </p>
      </div>
      <div class="labels">
        <div class="label">APPLICATION FOR ALL DEVICES</div>
        <div class="label">RESPONSIVE LAYOUT</div>
        <div class="label">LATEST TECHNOLOGIES</div>
      </div>

      <div class="showcase">
        <div class="showcase-item"><%= image_tag "html5.png"%></div>
        <div class="showcase-item"><%= image_tag "css3.png"%></div>
        <div class="showcase-item"><%= image_tag "js.png"%></div>
        <div class="showcase-item"><%= image_tag "ruby.png"%></div>
        <div class="showcase-item"><%= image_tag "react.png"%></div>
        <div class="showcase-item"><%= image_tag "rails.png"%></div>
      </div>
    </div>
  </div>
  <div class="qualities">
    <div class="container">
      <div class="cards">
        <div class="card">
          <%= image_tag "services.png" %>
          <span class="card-title">Offered services</span>
          <p>
            We provide innovative solutions to meet the needs of your business. From single page websites to complex applications for all devices.

            <br><br>

            We also provide guidance and insight to help you make decisions about your digital presence.
          </p>
        </div>
        <div class="card">
          <%= image_tag "goals.png" %>
          <span class="card-title">Our goals</span>
          <p>
            To achieve quality in all our work, current and future.

            <br><br>

            To provide full solutions to whatever problems our customers face.

            <br><br>

            To use data and validated learning as our maind driver for decision making.

            <br><br>

            To continue to innovate and learn from our experiences.
          </p>
        </div>
        <div class="card">
          <%= image_tag "technology.png" %>
          <span class="card-title">Technology stack</span>
          <p>
            <b>Mobile applications</b>
            <br>
            React Native

            <br><br>
            <b>Web applications</b>
            <br>
            HTML 5, CSS 3, React web, Angular JS

            <br><br>
            <b>API's</b>
            <br>
            Ruby on Rails, MySQL, MongoDB, Elastic Search

            <br><br>
            <b>Hosting Solutions</b>
            <br>
            AWS, Heroku, Digital Ocean
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio">
    <div class="container">
      <div class="title">
        <div class="text-left">Our</div>
        <div class="text-right">Work</div>
      </div>

      <div class="arrows">
        <span><</span>
        <span>></span>
      </div>

      <div class="slider">
        <div class="slide">
          <div class="details">
            <div class="details-title text-right">Menu Control</div>
            <div class="description text-right">
              Menu Control is an application for restaurants or small business to create recipes and manage costs of ingredients and calculate expected profits.
            </div>
          </div>
          <%= image_tag "case.png" %>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
    <div class="container">
      <div class="title">Contact us</div>

      <div class="details">
        <div class="informations">
          <div class="phone">
            <%= image_tag "phone.png" %>
            <span>+55 41 99156-9340</span>
          </div>

          <div class="email">
            <%= image_tag "mail.png" %>
            <span>contact@nuleaf.technology</span>
          </div>
        </div>

        <div class="send-contact">
          <span>or leave your details with us and we'll contact youuuuu</span>
          <div class="send-form">
            <%= image_tag "@.png" %>
            <input type="text" class="stylish">
            <button type="submit" name="send" class="stylish-button">></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
